
div.couleurs {

    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  img {width: 100%}
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

#preview {
    padding-left: 1em;
    height: 29em;
    background-image: url("../www/assets/image.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@font-face {
  font-family: "north";
  src: url("../www/assets/North.ttf") format("truetype");


}

@font-face {
  font-family: 'brotherhood';
  src: url('../www/assets/Brotherhood.ttf') format('truetype');


}